earthengine_api==0.1.320
ee==0.4
Flask==2.2.2
Flask_Bcrypt==1.0.1
Flask_Login==0.6.2
flask_sqlalchemy==3.0.3
Flask_WTF==1.0.1
matlab==0.1
matlabengine==9.13.7
numpy==1.21.5
python-dotenv==1.0.0
WTForms==3.0.1
